.logoContainer 
{ 
	 border-style:none;
	 color:rgb(54,63,72);
	 font-family: Myriad Pro;
	 width:300px;
	 font-size:26px;
	 float:left;
	 position:relative;
	 top:20px;
	 left:100px;
} 

.logoContainer a:link, a:visited, a:hover, a:active
{
    color: Navy;
    text-decoration:none;
}

.header 
{
	
}


.topmenu
{
	margin:0;
	padding:0;
	font-size:1em;
	position:relative;
	top:26px;
	left:100px;
}

.topmenu ul
{
	list-style:none;
}

.topmenu li
{
	float:left;
	position: relative;
}

.topmenu a:link, a:visited
{
	display:block;
	width:150px;
	color:rgb(75,107,139);
	text-decoration:none;
}

.topmenu a:hover, a:active
{
	color:Navy;
	background-color:Green;
}

.topmenu li ul
{
	display:none;
}

.topmenu li:hover ul
{
	display:block;
}

.topmenu li ul
{
	float: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 1.2em;
	left: 0;
}


.topmenu li ul li
{
	float: none;
	clear: none;
	margin: 0;
	padding: 0;
	width: auto;
}

.topmenu li:hover ul li a,
.topmenu li ul li a
{
	line-height: 200%;
	display: block;
	padding: 0 6px 0 0;
	float: none;
	text-transform: none;
	color: #999;
	background: none;
}

.topmenu li:hover ul li a:hover,
.topmenu ul li a:hover
{
	background: none;
	color: #000;
}


